@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background;)
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

.dark,
.dark-theme {
  --custom-1: #111113;
  --custom-2: #19191b;
  --custom-3: #222225;
  --custom-4: #29292c;
  --custom-5: #303034;
  --custom-6: #39393d;
  --custom-7: #47474a;
  --custom-8: #606064;
  --custom-9: #6d6d71;
  --custom-10: #606064;
  --custom-11: #b3b3b7;
  --custom-12: #eeeef0;

  --custom-a1: #1111bb03;
  --custom-a2: #cbcbf90b;
  --custom-a3: #d6d6f916;
  --custom-a4: #e5e5ff1d;
  --custom-a5: #e2e2fc26;
  --custom-a6: #e6e6fb30;
  --custom-a7: #f0f0fc3e;
  --custom-a8: #f4f4ff59;
  --custom-a9: #f5f5ff67;
  --custom-a10: #f4f4ff59;
  --custom-a11: #f9f9ffb2;
  --custom-a12: #fdfdffef;

  --custom-contrast: #fff;
  --custom-surface: #21212580;
  --custom-indicator: #6d6d71;
  --custom-track: #6d6d71;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --custom-1: oklch(17.8% 0.0041 286);
      --custom-2: oklch(21.3% 0.0042 286);
      --custom-3: oklch(25.3% 0.0059 286);
      --custom-4: oklch(28.3% 0.0061 286);
      --custom-5: oklch(31.1% 0.0061 286);
      --custom-6: oklch(34.6% 0.0061 286);
      --custom-7: oklch(39.8% 0.0061 286);
      --custom-8: oklch(49% 0.0061 286);
      --custom-9: oklch(53.7% 0.0061 286);
      --custom-10: oklch(49% 0.0061 286);
      --custom-11: oklch(76.8% 0.0061 286);
      --custom-12: oklch(94.9% 0.0029 286);

      --custom-a1: color(display-p3 0.0667 0.0667 0.9412 / 0.009);
      --custom-a2: color(display-p3 0.8 0.8 0.9804 / 0.043);
      --custom-a3: color(display-p3 0.851 0.851 0.9882 / 0.085);
      --custom-a4: color(display-p3 0.8941 0.8941 0.9961 / 0.114);
      --custom-a5: color(display-p3 0.8902 0.8902 0.9961 / 0.148);
      --custom-a6: color(display-p3 0.9176 0.9176 1 / 0.185);
      --custom-a7: color(display-p3 0.949 0.949 1 / 0.24);
      --custom-a8: color(display-p3 0.9569 0.9569 1 / 0.349);
      --custom-a9: color(display-p3 0.9608 0.9608 1 / 0.404);
      --custom-a10: color(display-p3 0.9569 0.9569 1 / 0.349);
      --custom-a11: color(display-p3 0.9765 0.9765 1 / 0.698);
      --custom-a12: color(display-p3 0.9922 0.9922 1 / 0.937);

      --custom-contrast: #fff;
      --custom-surface: color(display-p3 0.1255 0.1255 0.1412 / 0.5);
      --custom-indicator: oklch(53.7% 0.0061 286);
      --custom-track: oklch(53.7% 0.0061 286);
    }
  }
}
